

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Projects &mdash; HomePage 0.0.1 documentation</title>
  

  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="_static/css/theme.css" type="text/css" />
  

  

  
        <link rel="author" title="About these documents"
              href="about.html"/>
    <link rel="top" title="HomePage 0.0.1 documentation" href="index.html"/>
        <link rel="prev" title="About Me" href="about.html"/> 

  
  <script src="_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="index.html" class="icon icon-home"> HomePage
          

          
          </a>

          
            
            
              <div class="version">
                0.0.1
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
                <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="about.html">About Me</a></li>
<li class="toctree-l1 current"><a class="current reference internal" href="">Projects</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#open-source-libraries">Open Source Libraries</a></li>
<li class="toctree-l2"><a class="reference internal" href="#open-source-applications">Open Source Applications</a></li>
<li class="toctree-l2"><a class="reference internal" href="#commercial-projects">Commercial Projects</a></li>
<li class="toctree-l2"><a class="reference internal" href="#computer-games">Computer Games</a></li>
<li class="toctree-l2"><a class="reference internal" href="#websites">Websites</a></li>
<li class="toctree-l2"><a class="reference internal" href="#projects-for-competitions">Projects for Competitions</a></li>
</ul>
</li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="index.html">HomePage</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          





<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="index.html">Docs</a> &raquo;</li>
      
    <li>Projects</li>
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="_sources/projects.txt" rel="nofollow"> View page source</a>
          
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="projects">
<h1>Projects<a class="headerlink" href="#projects" title="Permalink to this headline">¶</a></h1>
<p>Over the last couple of years I worked on a number of open source
projects.  Most of them were Python, a couple of others however were also
C, C++, JavaScript, PHP or other languages mixed in.  Talks I held have
been moved <a class="reference external" href="/talks/">to a new place on this website</a>.</p>
<p>This list is widely incomplete, lots of small things can be found on my
<a class="reference external" href="https://github.com/mitsuhiko/">github</a> profile and some things are lost
in the depths of the internet.</p>
<p>Projects I&#8217;ve founded are marked with stars (‘*’), others are project I
joined.  Projects where I helped out for a short period of time are marked
with a dagger (‘†’).</p>
<div class="section" id="open-source-libraries">
<h2>Open Source Libraries<a class="headerlink" href="#open-source-libraries" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference external" href="http://pygments.pocoo.org/">Pygments</a> — syntax highlighter written in Python.  <em>2005-</em></li>
<li><a class="reference external" href="http://jinja.pocoo.org/">Jinja</a> — template engine for Python.  <em>2006-</em></li>
<li><a class="reference external" href="http://ruty.rubyforge.org/">Ruty</a> — a port of Django templates to Ruby.  <em>2007</em></li>
<li><a class="reference external" href="http://www.twig-project.org/">Twig</a> — a Django-inspired template
engine for PHP (2007; initial implementation)</li>
<li><a class="reference external" href="http://pypi.python.org/pypi/phpserialize">phpserialize</a> —
implementation of the PHP serialization for Python. <em>2007</em></li>
<li><a class="reference external" href="http://sphinx.pocoo.org/">Sphinx</a> — a Python documentation tool.  <em>2007-</em></li>
<li><a class="reference external" href="http://werkzeug.pocoo.org/">Werkzeug</a> — WSGI utility library for Python.  <em>2007-</em> *</li>
<li><a class="reference external" href="http://babel.pocoo.org/">Babel</a> — collection of tools for
internationalizing Python applications.  <em>2008-</em> *</li>
<li><a class="reference external" href="http://pypi.python.org/pypi/CleverCSS">CleverCSS</a> — CSS toolkit for Python, <em>2009-</em> *</li>
<li><a class="reference external" href="http://pypi.python.org/pypi/GHRML">GHRML</a> — HAML inspired template
engine based on Genshi for Python.  <em>2009</em> *</li>
<li><a class="reference external" href="https://pypi.python.org/pypi/MarkupSafe">MarkupSafe</a> — a tainted
HTML string for Python.  <em>2010-</em> *</li>
<li><a class="reference external" href="http://logbook.pocoo.org/">Logbook</a> — a logging library for Python.
<em>2010-2012</em></li>
<li><a class="reference external" href="http://flask.pocoo.org/">Flask</a> — a microframework for Python based
on good intentions.  <em>2010-</em> *</li>
<li><a class="reference external" href="http://pythonhosted.org/itsdangerous">itsdangerous</a> — a
cryptographic signing library.  <em>2012-</em> *</li>
<li><a class="reference external" href="http://click.pocoo.org/">Click</a> — a
command line interface utility library.  <em>2014-</em> *</li>
<li><a class="reference external" href="http://pluginbase.pocoo.org/">PluginBase</a> — a plugin system for Python. <em>2014-</em> *</li>
<li><a class="reference external" href="https://github.com/mitsuhiko/pipsi">pipsi</a> — a wrapper around pip
for script installation. <em>2014-</em> *</li>
<li><a class="reference external" href="https://github.com/mitsuhiko/unp">unp</a> — an unpacking shell script. <em>2014-</em> *</li>
<li><a class="reference external" href="https://github.com/mitsuhiko/redis-rs">redis-rs</a> — a redis driver
for Rust. <em>2014-</em> *</li>
<li><a class="reference external" href="http://rb.rtfd.org/">rb</a> — a redis clustering library for Python. <em>2015-</em> *</li>
</ul>
</div>
<div class="section" id="open-source-applications">
<h2>Open Source Applications<a class="headerlink" href="#open-source-applications" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference external" href="http://zine.pocoo.org/">Zine</a> — a blog software written in Python. <em>2007-</em> *</li>
<li><a class="reference external" href="http://moinmo.in">MoinMoin</a> — wiki engine written in Python. <em>2008</em> †</li>
<li><a class="reference external" href="http://opensource.plurk.com/solace/">Plurk Solace</a> — a multilingual support application. <em>2009-</em></li>
<li><a class="reference external" href="http://timesched.pocoo.org/">Timesched</a> — a world time scheduler. <em>2013</em> *</li>
<li><a class="reference external" href="http://packages.python.org/curlish/">Fireteam Curlish</a> — curl OAuth wrapper. <em>2012-</em></li>
<li><a class="reference external" href="https://github.com/python-modernize/python-modernize">python-modernize</a> — Python 2 to 3 porting tool. <em>2012-</em></li>
<li><a class="reference external" href="https://github.com/mitsuhiko/pipsi">pipsi</a> — Python script installer. <em>2014-</em></li>
<li><a class="reference external" href="https://github.com/mitsuhiko/lektor">Lektor</a> — a static file CMS. <em>2015-</em> *</li>
</ul>
</div>
<div class="section" id="commercial-projects">
<h2>Commercial Projects<a class="headerlink" href="#commercial-projects" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference external" href="http://www.plurk.com/">Plurk</a> — a microblogging platform. <em>2008-2009</em></li>
<li><a class="reference external" href="http://fireteam.net/fireline/">Fireline</a> — online services platform for games. <em>2012-</em></li>
<li><a class="reference external" href="http://togethera.com/">Togethera</a> — private family sharing application (as advisor). <em>2014-</em></li>
<li><a class="reference external" href="http://www.getsentry.com/">Sentry</a> — error tracking platform. <em>2015-</em></li>
</ul>
</div>
<div class="section" id="computer-games">
<h2>Computer Games<a class="headerlink" href="#computer-games" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference external" href="http://en.wikipedia.org/wiki/Batman:_Arkham_Origins">Batman Arkham Origins</a> — parts of online
services code and backend. <em>2012-2013</em></li>
<li><a class="reference external" href="http://www.warchest.com/games/radsoldiers">RAD Soldiers</a> — game
backend. <em>2012-</em></li>
<li><a class="reference external" href="http://dirtybomb.nexon.net/">Dirty Bomb</a> — online services and game
backend. <em>2012-</em></li>
<li><a class="reference external" href="http://en.wikipedia.org/wiki/Halo:_The_Master_Chief_Collection">Halo: The Master Chief Collection</a> —
online services consulting. <em>2014-</em></li>
<li><a class="reference external" href="https://en.wikipedia.org/wiki/Gears_of_War_(video_game)#Ultimate_Edition">Gears of War Ultimate Edition</a> —
online services consulting. <em>2014-</em></li>
</ul>
</div>
<div class="section" id="websites">
<h2>Websites<a class="headerlink" href="#websites" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference external" href="http://www.ubuntuusers.de/">ubuntuusers.de</a> — many parts of the current running software. <em>2004-2007</em></li>
<li><a class="reference external" href="http://dev.pocoo.org/">Pocoo</a> — the project websites with some exceptions. <em>2005-</em></li>
<li><a class="reference external" href="http://architekten-ronacher.at/">Architekten Ronacher</a> — design and backend. <em>2009</em></li>
<li><a class="reference external" href="http://www.der-weber.at/">Der-Weber</a> — design and backend. <em>2012</em></li>
</ul>
</div>
<div class="section" id="projects-for-competitions">
<h2>Projects for Competitions<a class="headerlink" href="#projects-for-competitions" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference external" href="http://www.aec.at/prix_history_en.php?year=2003">“Be a Bee”</a> — for u19, Ars Electronica 2003. 2nd Place. <em>2003</em></li>
</ul>
</div>
</div>


           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
      
        <a href="about.html" class="btn btn-neutral" title="About Me" accesskey="p"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2016, Kevin Gao.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'./',
            VERSION:'0.0.1',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="_static/jquery.js"></script>
      <script type="text/javascript" src="_static/underscore.js"></script>
      <script type="text/javascript" src="_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>